.about-section {
  position: relative;
  overflow: hidden;
  background-color: #d1e8d1;
  margin-top: -42px;
  padding: 1rem 0;
}

.diagonal-divider {
  position: absolute;
  inset: 0;
  background-color: #d1e8d1;
  transform: skewY(3deg);
  z-index: 0;
}

.container {
  position: relative;
  z-index: 10;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.content-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.25rem;
  align-items: center;
  margin-bottom: 100px;
}

@media (min-width: 1024px) {
  .content-grid {
    grid-template-columns: 2fr 1fr;
  }
}

.text-section {
  padding-right: 1rem;
}

.heading {
  font-size: 3rem;
  font-weight: bold;
  color: #065f46;
  margin-bottom: 1rem;
}

.subheading {
  color: #223c2e;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.description {
  color: #1f2937;
  font-size: 1.3rem;
  line-height: 1.75;
  margin-bottom: 1.5rem;
  margin-right: 4rem;
  font-weight: 400;
}

.learn-more-btn {
  display: inline-block;
  background-image: linear-gradient(to right, #10b981, #047857);
  color: #fff;
  padding: 0.75rem 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease;
  text-decoration: none;
}

.learn-more-btn:hover {
  opacity: 0.9;
}

.image-container {
  overflow: hidden;
  width: 400px;
  margin: 0 auto;
  transition: transform 0.5s ease;
  border-top-right-radius: 7rem;
  border-bottom-left-radius: 7rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.9);
}

.image-container:hover {
  transform: scale(1.05);
}

.image {
  width: 400px;
  height: 400px;
  object-fit: cover;
}